/* Other rules */
p {
  font-size: 15px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid blue;
}
.logo-header {
  border: 1px solid #ff0000;
}
.logo-header img {
  width: 100px;
}
.navbar {
  display: flex;
}
.home-hero-bg {
  background-image: url(./hero.jpg);
  width: 100%;
  height: 455px;
  background-size: cover;
  position: relative;
  background-position: 50%;
}
.container {
  width: 1280px;
  margin: 0 auto;
  height: auto;
  padding-top: 20px;
}
.main-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home-offer {
  width: 200px;
  height: 300px;
  margin-top: 20px;
  border: 1px solid red;
}
.home-offer img {
  width: 200px;
  height: 100%;
}
.main-offer {
  background-color: #eaedee;
  display: flex;
  justify-content: space-evenly;
  height: 700px;
  padding-top: 30px;
}
.offer-left {
  width: 300px;
  height: 500px;
  border: 1px solid red;
}
.offer-left img {
  width: 100%;
}
.offer-right {
  width: 300px;
  height: 500px;
  background-color: white;
}
